<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="SupportedControllers" type="DS4Windows.SupportedControllers, DS4Windows"/>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <probing privatePath="Lang"/>
        </assemblyBinding>
    </runtime>
    <SupportedControllers>
        <!-- SONY -->
        <Controller vid="054C" pid="BA0"/>
        <Controller vid="054C" pid="5C4"/>
        <Controller vid="054C" pid="09CC"/>

        <!-- Razer -->
        <Controller vid="1532" pid="1000"/>

        <!-- Nacon Revolution Pro -->
        <Controller vid="146B" pid="0D01"/>

        <!-- Hori Mini 4-->
        <Controller vid="0F0D" pid="00EE"/>
    </SupportedControllers>
</configuration>
